@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<style>
    body{
        background-image:none;
    }
</style>

<p>HopHub allows someone to quickly get detailed information about a craft beer that they see on the menu of a restaurant, at the store, or on tap at a bar.</p>
<p>Users that have a registered account will be able to save a beer that they have tried to a personal log, where they can add a rating, reviews, personal notes, and purchase location.</p>
<p>HopHub was created so users can keep track of the lesser known beers that they come across at different venues or stores so they have a journal of what they have already tried, and what they would like to try next.</p>
<br />
<img src="~/images/Powered-By-BreweryDB.png" height="60px"/>
<br />
