@model SearchBeerViewModel
@{
    ViewData["Title"] = "HopHub";
}
<br />
<br />
<form asp-controller="Home" asp-action="Search" method="post">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search for..." asp-for="Query" >
                <span class="input-group-btn" asp-validation-for="Query">
                    <button class="btn btn-primary" type="button">Search</button>
                </span>
            </div>
        </div>
    </div>
</form>
<br />
