@{
    ViewData["Title"] = "HopHub";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form asp-controller="Home" asp-action="Search" method="get">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group">
                <input type="search" class="form-control beer" name="beer" placeholder="Search for beer...">
                <span class="input-group-btn">
                    <button class="btn btn-success submit_beer" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




