@section HeadScripts
{
    <script src="~/js/search.js"></script>
}
@{
    ViewData["Title"] = "Search Results";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="results"></div>
    </div>
</div>
<ul class="pager"></ul>
