@model AddEntryViewModel
<br />
<br />
<form asp-controller="Beer" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input class="form-control" asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>
    <div class="form-group">
        <label asp-for="Review"></label>
        <textarea class="form-control" asp-for="Review" >@Model.Review</textarea>
    </div>
    <div class="form-group">
        <label asp-for="UserComments"></label>
        <textarea class="form-control" asp-for="UserComments">@Model.UserComments</textarea>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input class="form-control" asp-for="Location" />
    </div>
    <input asp-for="BeerID" type="hidden" value="@Model.BeerID" />
    <input class="btn btn-default" type="submit" value="Add Entry" />
</form>